.image {
    width: 125px;
    margin-right: 10px;
}

.loader,
.secondLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 25px;
}

.loader:after {
    content: " ";
    display: block;
    width: 16.6px;
    height: 16.6px;
    margin: 1px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader 1.2s linear infinite;
}

.secondLoader:after {
    content: " ";
    display: block;
    width: 16.6px;
    height: 16.6px;
    /* margin: 1px; */
    border-radius: 50%;
    border: 3px solid #6363d9;
    border-color: #6363d9 transparent #6363d9 transparent;
    animation: loader 1.2s linear infinite;
}



@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes secondLoader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.itemContainer {
    /* border: solid; */
    display: flex;
}

.quantityAndFinalPrice {
    display: flex;
    justify-content: space-between;
}

.itemQuantity {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.itemContainerContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.addOrRemove>* {
    color: white;
    font-weight: bold;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: 1px solid #6363d9;
    background-color: transparent;
    cursor: pointer;
    color: #5454d9;
}

.removeButton>* {
    display: flex;
    align-items: center;
    color: white;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: black;
}

.addOrRemove>*:hover {
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
}

.addOrRemove {
    display: flex;
    gap: 5px;
}

.price {
    font-weight: bold;
    color: red;
}

.bin {
    font-size: 28px;
}