.container {
    position: sticky;
    top: 0;
    grid-area: h;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 3;
    box-shadow: 0 5px 10px -5px #999;
}

#absoluteBackground {
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 4;
    animation: fade-in-background 300ms forwards;
}

#absoluteBackgroundMenu {
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 4;
    animation: fade-in-background 300ms forwards;
}

.loginButtonContainer {
    position: relative
}

.loginContainer {
    position: absolute;
    top: calc(100% + 10px);
    min-width: 300px;
    background-color: white;
    box-shadow: #559137 0px 3px 8px;
    left: -100%;
    animation: fade-in 200ms forwards;
    padding: 10px;
}

/* #0000003d */

.loginContent {
    position: relative;
    font-size: 1.1rem;
}

.shape {
    position: absolute;
    top: -10px;
    right: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    transform: translateX(50%) rotate(-135deg);
    box-shadow: 3px 3px 5px -4px #559137;
    border-bottom: none;
    border-left: none;
}

.columnLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.myAccountContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccc;
    margin-bottom: 10px;
}

.myProfile {
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
}

.myProfile:hover {
    font-weight: bold;
}

.logoutButton {
    background: none;
    font-weight: bold;
    font-size: 0.9rem;
    color: inherit;
    border: none;
    padding: 0;
    /* font: inherit; */
    cursor: pointer;
    outline: inherit;
}

.singUpButton {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-indent: unset;
    max-width: 100%;
    width: 100%;
    padding: 12px 25px;
    font-size: 0.8rem;
    box-sizing: border-box;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    animation: fade-in 500ms forwards;
}

.buttonText {
    color: #559137;
}

.googleButton,
.facebookButton,
.loginButton {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-indent: unset;
    max-width: 100%;
    width: 100%;
    padding: 12px 25px;
    font-size: 0.8rem;
    box-sizing: border-box;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    animation: fade-in 500ms forwards;
}

/* #loginButton {
    gap: 10px;
} */

.googleButton:hover,
.facebookButton:hover,
.loginButton:hover,
.singUpButton:hover {
    background-color: #dde7ff;
    border-color: #f7f7f7;
}

.googleIcon,
.facebookIcon {
    color: #559137;
    font-size: 16px;
}

.singUpForm {
    width: 100%;
}

.emailBox {
    text-indent: unset;
    max-width: 100%;
    width: 100%;
    padding: 12px 25px;
    font-size: 0.8rem;
    box-sizing: border-box;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
    animation: fade-in 500ms forwards;
}

.emailBox::placeholder {
    color: #aaaa
}

.boxPassword,
.boxPasswordConfirmation {
    text-indent: unset;
    max-width: 100%;
    width: 100%;
    padding: 12px 25px;
    font-size: 0.8rem;
    box-sizing: border-box;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
    /* display: none; */
    animation: fade-in 500ms forwards;
}

.boxPassword::placeholder,
.boxPasswordConfirmation::placeholder {
    color: #aaaa
}

.authButton,
.singupFormButton {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-indent: unset;
    max-width: 100%;
    width: 100%;
    padding: 12px 25px;
    font-size: 0.8rem;
    box-sizing: border-box;
    background: #559137;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
    cursor: pointer;
    animation: fade-in 500ms forwards;
    /* display: none; */
}

.sendButton:hover,
.authButton:hover,
.singupFormButton:hover {
    background: #47792e;
    border: 1px solid #47792e;
}

.sendButtonText {
    color: white;
    font-weight: bold;

}

.forgotPassword {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    text-indent: unset;
    max-width: 100%;
    width: 100%;
    padding: 12px 0;
    font-size: 0.8rem;
    border-bottom: 1px solid #559137;
    outline: none;
    margin-bottom: 14px;
    animation: fade-in 500ms forwards;
    /* display: none; */
}

.forgotPassword>* {
    cursor: pointer;
    padding: 0;
    font-size: 12px;
    border: none;
    background-color: transparent;
    color: #559137;
    font-weight: bold;
}

.forgotPassword>*:hover {
    color: #47792e;
}

.noAccount {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-indent: unset;
    max-width: 100%;
    width: 100%;
    /* padding: 12px 0; */
    font-size: 0.8rem;
    border-radius: 10px;
    outline: none;
    /* margin-bottom: 14px; */
    animation: fade-in 500ms forwards;
    /* display: none; */
}

.noAccount>* {
    cursor: pointer;
    padding: 0;
    font-size: 12px;
    border: none;
    background-color: transparent;
    color: #559137;
    font-weight: bold;
}

.noAccount>*:hover {
    color: #47792e;
}

.forgotPasswordForm {
    margin-top: 10px;
    gap: 10px;
    text-indent: unset;
    max-width: 100%;
    width: 100%;
    /* padding: 12px 0; */
    font-size: 0.8rem;
    outline: none;
    animation: fade-in 500ms forwards;
}

.forgotPasswordFormLeft {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    font-size: 12px;
    border: none;
    background-color: transparent;
    color: #559137;
    font-weight: bold;
}

.forgotPasswordFormRight {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: #559137;
    color: white;
    font-weight: bold;
}

.forgotPasswordForm>:nth-child(2):hover {
    background-color: #47792e;
}

.forgotPasswordForm {
    display: flex;
    justify-content: space-between;
}

.errorMessageContainer,
.successMessageContainer {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.errorMessage {
    border-radius: 10px;
    padding: 10px;
    background-color: #f3c8c9;
    width: 100%;
}

.successMessage {
    border-radius: 10px;
    padding: 10px;
    background-color: #CBFFC0;
    width: 100%;
}

.iconText {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.favoriteLink {
    text-decoration: none;
    color: black;
}

.favoriteLink {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.searchFormContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    min-width: 33%;
    width: auto;
}

.searchFormContainer>* {
    line-height: 0;
}

.menuButton {
    background-color: white;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 100px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.menuButton>* {
    font-size: 25px;
}

.menuButton>:nth-child(2) {
    font-size: 13px;
}

.middleContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.searchInput {
    border-bottom: 1px solid #979797;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    padding: 10px 15px;
    font-size: 1rem;
    outline: none;
    text-indent: unset;
    width: 100%;
}

.searchInput::placeholder {
    color: #979797;
}

.searchIcon {
    font-size: 25px;
    color: black;
    cursor: pointer;
}

.searchBoxContent {
    display: flex;
    align-items: center;
    width: 100%;
    transform: translateX(-100%);
    transition: all .2s linear;
}

.inputContainer {
    overflow: hidden;
    display: flex;
}

.deleteSearchInput {
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

.deleteSearchInput>* {
    font-size: 25px;
}

.topMinSize {
    display: none;
}

.searchIconContainer {
    display: flex;
}

.searchIconContainer>*>.formButton:hover {
    background-color: transparent;
}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85rem;
    width: 100%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.searchContainerMinSize {
    position: absolute;
    bottom: -48px;
    left: 0;
    box-shadow: 0 5px 10px -5px #999;
    right: 0;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
    animation: fade-in 200ms forwards;
    display: none;
}

.enterButtonDiv {
    display: flex;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: black
}

.enterButton {
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
    padding-right: 15px;
    padding-left: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 0;
}

.searchContentMinSize {
    width: 100%;
    border-radius: 20px;
    display: flex;
    background-color: #f7f7f7;
}

.searchInputMinSize {
    border-bottom: none;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    padding: 10px 15px;
    font-size: 1rem;
    outline: none;
    text-indent: unset;
    width: 100%;
    background-color: transparent;
    border-radius: 50px;
}

.searchInputMinSize::placeholder {
    color: #979797;
}

.logoContainer {
    line-height: 0;
    min-width: 33%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100px;
    height: auto;
    object-fit: contain;
}

.userForm {
    min-width: 33%;
    width: auto;
    display: flex;
    justify-content: flex-end;
}

.middle>a {
    display: "inline-block";
    line-height: 0;
}

.formButton {
    background-color: white;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.cartItemContainer {
    position: relative;
}

.cartFormButton {
    background-color: white;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 100px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.cartFormButton:hover {
    background-color: #dddddd;
    transition: 0.1s;
}

.cartFormButton>* {
    font-size: 25px;
}

.cartFormButton>:nth-child(2) {
    font-size: 13px;
}

.showButton {
    background-color: white;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 100px;
    text-align: center;
    position: relative;
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.showButton>* {
    font-size: 25px;
}

.cartItemContainer {
    line-height: 0;
}

.itemCount {
    position: absolute;
    top: -5px;
    right: -10px;
    padding-top: 1px;
    height: 1.4rem;
    width: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: red;
}

.itemCount>* {
    font-size: 14px;
    color: white;
}

.formButton:hover {
    background-color: #dddddd;
    transition: 0.1s;
}

/* .favoriteLink:hover {
    background-color: #dddddd;
    transition: 0.1s;
} */

.formButton>* {
    font-size: 25px;
}

.favoriteLink>* {
    font-size: 25px;
}

.formButton>:nth-child(2) {
    font-size: 13px;
}

.favoriteLink>:nth-child(2) {
    font-size: 13px;
}

.bottomMinSize {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #559137;
    color: white;
    cursor: pointer;
}

.bottomMinSize>.text {
    height: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}

.bottomMinSize>.text:hover {
    background-color: #44742c;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-background {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

.searchFormMinSize {
    display: none;
}


@media all and (max-width: 1023px) {

    .searchFormMinSize {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        min-width: 33%;
        width: auto;
    }

    .searchFormContainer {
        display: none;
    }

    .showButton {
        display: inline-block;
    }

    .iconText {
        display: none;
    }

    .topMinSize {
        height: 31px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #559137;
        color: white;
        font-weight: bold;
        font-size: 13px;
    }

    .userForm>:nth-child(1) {
        display: none;
    }

    .bottomMinSize {
        display: flex;
    }

}

@media all and (max-width: 639px) {

    .itemCount {
        position: absolute;
        top: -5px;
        right: -10px;
        padding-top: 1px;
        height: 1.4rem;
        width: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: red;
    }

    .logo {
        max-width: 80px;
        height: auto;
        object-fit: contain;
    }

}