.container {
    width: 100%;
    overflow: hidden;
    background-color: white;
    display: block;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
    font-weight: bold;
}

.slide>:nth-child(1) {
    font-size: 30px;
}

.title {
    font-size: 14px;
}

.allSlides {
    width: 600%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}