.imageOne {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28.125rem;
}

.imageTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28.125rem;
}

.imageThree {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28.125rem;
}

.imageFour {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28.125rem;
}

.container {
    width: 100%;
    height: 28.125rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    grid-area: c;
}

.slides {
    position: relative;
    width: 600%;
    display: flex;
}

.slide {
    width: 100%;
    text-decoration: none;
}

.dotsSlider {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dotsSlider>div {
    height: 0.625rem;
    width: 0.625rem;
    border: 1px solid white;
    border-radius: 100%;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    cursor: pointer;
    background-color: none;
}

.dotOne,
.dotTwo,
.dotThree,
.dotFour {
    display: flex;
}

.imageContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 8px rgb(50 50 50 / 40%), 0 0 1px #999;
}

.orderButton {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.orderButton>button {
    border-color: transparent;
    border-style: solid;
    background-color: #559137;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 25px;
    color: #f7f7f7;
    border-radius: 50px;
}

@media all and (max-width: 1023px) {
    .container {
        height: 14.25rem;
    }

    .imageOne,
    .imageTwo,
    .imageThree,
    .imageFour {
        height: 14.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .orderButton>button {
        font-size: 14px;
        padding: 10px 20px;
    }

    .orderButton {
        margin-top: 10px;
    }

    .imageContainer {
        width: 90%;
    }
}